* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 40px;
}

.header-text {
    font-size: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    text-decoration: none;
    margin-right: 35px;
    cursor: pointer;
}

.btn-sign {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #6FBF44;
    border-radius: 6px;
    border: none;
    padding: 14px 29px;
    cursor: pointer;
}

.img-logo {
    width: 500px;
    height: 400px;
    margin-left: 120px;
    display: inline-block;
}

section {
    display: inline-block;
}

h1 {
    line-height: 80px;
    font-weight: 700;
    font-size: 60px;
    width: 580px;
    margin-left: 80px;
    margin-bottom: 45px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 490px;
    margin-left: 80px;
    margin-bottom: 50px;
}

.link-learn {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    margin-left: 80px;
    text-decoration: none;
}