* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: #070707;
}

label {
    color: #DB9564;
    font-weight: 600;
}

form {
    border: 5px solid #DB9564;
    margin: 10px;
}

.lbl-names {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.components {
    display: block;
    margin-top: zzzzzz5px;
    border: 1px solid #DB9564;
}

#box-buttons{
    margin: 5px 10px;
}

.style-buttons {
    margin:  15px 5px 10px 0px;
    padding: 10px 60px;
    border: 1px solid #DB9564;
    color: #DB9564;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.style-buttons:hover {
    background-color: #DB9564;
    color: #070707;
    font-size: 20px;
}